/* cart-styles.css */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eee8f6;
    padding-top: 56px; /* Adjust based on navbar height */
}


* Button Styles */
.btn-primary {
    margin-top: 10px;
    background-color: #3d52a1; /* Red color for primary buttons */
    border-color: #3d52a1; /* Red color for button borders */
}

.btn-secondary {
    margin-top: 10px;
    background-color: #8697c3; /* Red color for primary buttons */
    border-color: #8697c3;
    width: 200px;
}

.btn-primary:hover {
    background-color: #27283b; /* Darker red on hover */
    border-color: #27283b; /* Darker red for border on hover */
}

.btn-block {
    display: block;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.cart-table-container {
    overflow-x: auto;
    margin-bottom: 30px;
}

.table {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table thead th {
    background-color: #f8f9fa;
    border-top: none;
}

.table th, .table td {
    border: none;
    vertical-align: middle;
}

.product-item {
    display: flex;
    align-items: center;
}

.product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.product-details {
    flex: 1;
}

.product-name {
    margin-bottom: 5px;
    font-weight: bold;
}

.product-price {
    color: #6c757d;
}

.btn-primary, .btn-secondary {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .product-image {
        width: 60px;
        height: 60px;
    }
}