/* static/css/checkout.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    padding-top: 56px; /* Adjust based on navbar height */
}

.container {
    max-width: 960px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item {
    display: flex;
    align-items: center;
}

.product-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.product-details {
    margin-left: 15px;
}

.table {
    margin-bottom: 0;
}

.btn-block {
    display: block;
    width: 100%;
}
