/* static/css/checkout.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    padding-top: 56px; /* Adjust based on navbar height */
}

.container {
    max-width: 960px;
}

* Button Styles */
.btn-primary {
    margin-top: 10px;
    background-color: #3d52a1; /* Red color for primary buttons */
    border-color: #3d52a1; /* Red color for button borders */
}

.btn-secondary {
    margin-top: 10px;
    background-color: #8697c3; /* Red color for primary buttons */
    border-color: #8697c3;
    width: 200px;
}

.btn-primary:hover {
    background-color: #27283b; /* Darker red on hover */
    border-color: #27283b; /* Darker red for border on hover */
}

.btn-block {
    display: block;
    width: 100%;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item {
    display: flex;
    align-items: center;
}

.product-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
}

.product-details {
    margin-left: 15px;
}

.table {
    margin-bottom: 0;
}
