/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    padding-top: 30px; /* Adjust based on navbar height */
}

.navbar {
    background-color: #ffffff; /* Ensure this color is correct */
}

.navbar-brand {
    color: #f79420 !important; /* Adjusted color */
}

.navbar-nav .nav-link {
    color: #f79420 !important; /* Adjusted color */
}

.btn-primary {
    background-color: #f79420; /* Adjusted color */
    border-color: #f79420; /* Adjusted color */
}

.btn-primary:hover {
    background-color: #e6831e; /* Adjusted color */
    border-color: #e6831e; /* Adjusted color */
}

/* Hero Section */
.hero {
    background-position: center;
    height: 500px;
    color: white;
    position: relative;
    background: url('123.jpg') center center no-repeat;
    background-size: cover; /* Ensure the image covers the container */
    height: 75vh;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    padding-top: 150px;
}

.hero-content h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

.hero-content p {
    font-size: 1.5rem;
}

.container-fluid.no-padding {
    padding-left: 0;
    padding-right: 0;
}

/* Categories */
.category-card {
    border: none;
}

/* Testimonials */
.testimonial {
    background: #f8f9fa;
    padding: 40px;
    margin: 20px 0;
    border-radius: 5px;
    text-align: center;
}

/* Footer */
footer {
    background: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #ffc107;
}

.popular-categories {
    background-color: blue;
    padding: 20px;
}

.popular-categories h2 {
    color: white;
}

.popular-categories .card {
    margin: 0 auto; /* Center the cards horizontally */
}
