.navbar {
    background-color: #adbada; /* Dark background for navbar */
}

.navbar-brand {
    color: #ffffff !important; /* White color for navbar brand */
    margin-right: 1rem;
    font-size: 1.5rem; /* Adjust the brand font size as needed */
}

.navbar-nav .nav-link {
    color: #ffffff !important; /* White color for navbar links */
    margin-left: 30px;
    font-size: 1.2rem; /* Adjust the font size for navigation links */
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-link {
    color: #ffffff; /* Text color */
}

.navbar-nav .nav-link:hover {
    color: #f8f9fa; /* Hover text color */
}

.navbar-nav .dropdown-menu {
    background-color: #343a40; /* Dropdown menu background color */
}

.navbar-nav .dropdown-menu .dropdown-item {
    color: #ffffff; /* Dropdown item text color */
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: #495057; /* Hover background color for dropdown items */
    color: #ffffff; /* Hover text color for dropdown items */
}

.navbar-toggler {
    border-color: #ffffff; /* Color for the toggler icon */
}

@media (max-width: 768px) {
    .navbar {
        padding: 0.5rem;
    }
}

.btn-4 {
    background-color: #f79420; /* Red color for primary buttons */
    border-color: #f79420; /* Red color for button borders */
}

.btn-4:hover {
    background-color: #000000; /* Darker red on hover */
    border-color: #ffffff; /* Darker red for border on hover */
}

.btn-4 {
    display: block;
    width: 100%;
}
