{% extends 'shop/base.html' %}

{% block title %}Products - Gameday{% endblock %}

{% block content %}
<div class="row">

    <div class="col-lg-3 col-md-4 col-sm-12 mt-3">
        <div class="card-filter">
            <div class="filter-container card mb-4">
                <h5 class="card-header">Filter by Category</h5>
                <div class="card-body">
                    <!-- Example of filtering by category -->
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'product_list' %}">All</a></li>
                        <li class="list-group-item"><a href="{% url 'product_list' %}?category=football">Football</a></li>
                        <li class="list-group-item"><a href="{% url 'product_list' %}?category=basketball">Basketball</a></li>
                        <li class="list-group-item"><a href="{% url 'product_list' %}?category=tennis">Tennis</a></li>
                        <li class="list-group-item"><a href="{% url 'product_list' %}?category=Boxing">Boxing</a></li>
                        <li class="list-group-item"><a href="{% url 'product_list' %}?category=Cricket">Cricket</a></li>
                        <li class="list-group-item"><a href="{% url 'product_list' %}?category=Running">Running</a></li>
                        <li class="list-group-item"><a href="{% url 'product_list' %}?category=Fitness">Fitness</a></li>

                    </ul>
                </div>
            </div>
            <div class="filter-container card mb-4">
                <h5 class="card-header">Filter by Price</h5>
                <div class="card-body">
                    <label for="priceRange" class="filter-label">Price range:</label>
                    <input type="range" class="form-range" min="0" max="60000" id="priceRange" value="{{ request.GET.price|default:60000 }}" onchange="updatePriceFilter(this.value)">
                    <div class="filter-price-range">
                        <span>0</span>
                        <span>60000</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Cards (Main Content) -->
    <div class="col-lg-9 col-md-8 col-sm-12 mt-3">
        <div class="row">
            {% for product in products %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body d-flex flex-column">
                        <div>
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text"><strong>LKR {{ product.price }}</strong></p>
                        </div>
                        <a href="{% url 'product_detail' product_id=product.id %}" class="btn btn-primary mt-auto">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    function updatePriceFilter(value) {
    const urlParams = new URLSearchParams(window.location.search);
    urlParams.set('price', value);
    window.location.search = urlParams.toString();
}

</script>
{% endblock %}
